:root{
    --color-bg-dialog: white;
}
@font-face {
    font-family: 'pixy';
    src: url('fonts/PIXY.TTF') format('truetype'),
         
}
*{
    font-family: 'pixy';  
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    background: linear-gradient(180deg, #FFBFBF 0%, #FFFFFF 100%);
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
    overflow: hidden;
    min-height: 100vh;
    background-clip: border-box;
    -webkit-user-select: none; 
    -webkit-touch-callout: none;
    -moz-user-select: none;   
    -ms-user-select: none;
    
}

.score{
    font-size: 50px;
    color: white;
    font-family: 'pixy';
    font-size: 48px;
    color: black;

}
.icon-score{
    width: 25px;
    height: 35px;
    margin-top: 25px;
    margin-right: 12px;
}
#icon{
    width: 220px;
    height: 220px;
    margin-top: calc((100vh / 2.5) - 180px);
    user-select: none;
}

@keyframes animIcon{
    0% {
        transform: scale(1.00);
    }
    20%{
        transform: scale(0.90);
    }
    100%{
        transform: scale(1.00);
    }
}

#icon.click-animation {
    transition: 1s ease;
    animation: animIcon 0.9s ease;
}
@keyframes add{
    0%{
        opacity: 1;
    }
    100%{
        transform: translateY(-200px);
        z-index: -99;
    }
}
.add{
    opacity: 0;
    position: absolute;
    color: white;
    pointer-events: none; 
    font-size: 55px;
    animation: add 1.6s;
    user-select: none;
}
.login-logo{
    max-width: 250px;
    display: flex;
    justify-content: center;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.name, .ico{
    color: grey;
}
.nav-row{
    position: fixed;
    bottom: 17px;
    width: 94vw;
    height: 65px;
    left: 20px;
    border-top: 2px solid rgb(255, 255, 255);
    background-color: #E2300B;
    border: 2px solid black;
}

.list-boost{
    position: absolute;
    width: 28px;
    height: 28px;  
    top: 10px;
}
.invite{
    position: absolute;
    width: 28px;
    height: 28px;  
    top: 10px;
}

.task{
    position: absolute;
    width: 28px;
    height: 28px;  
    top: 10px;
}
.progress-bar{
    background: linear-gradient(90deg, #FFFFFF 0%, #E50000 100%);

}
.prb{
    background-color: white;
    border: 2px solid black;
    width: 94vw;
    left: 8px;
    position: fixed;
    border-radius: 0px;
    bottom: 90px;
}

.onselect{
    border: 2px solid #000000;
    background-color: white;
    width: calc(90vw / 4);
    height: 65px;
    transition: .3s;
    margin-top: -2px;
}



.hide{
    display: none;
}
.icontoscore{
    margin-top: 10px;
    margin-right: 30px;
    max-width: 54px;
    max-height: 54px;
}
#bottle{
    width: 18px;
    height: 25px;
    position: absolute;
    bottom: 110px;
    left: 110px;
}
.home{
    position: absolute;
    width: 28px;
    height: 28px;  
    top: 10px;
}
.box-task{
    width: calc(90vw / 4);
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-left: -10px
}

.box-referals{
    width: calc(90vw / 4);
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-left: -7px
}
.box-boost{
    width: calc(90vw / 4);
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-left: -10px
}
.box-home{
    width: calc(90vw / 4);
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-left: -13px;

}
.box-task p{
    position: absolute;
    top: 40px;
    
    color: white;
    font-weight: 400;
    font-size: 13px;
}
.box-home p{
    position: absolute;
    top: 40px;
    color: #E50000;
    font-weight: 400;
    font-size: 13px;
}
.home path{
    fill: #E50000;
}

.box-referals p{
    position: absolute;
    top: 40px;
    color: white;
    font-weight: 400;
    font-size: 13px;
}
.invite path{
    fill: white;
}
.box-boost p{
    position: absolute;
    top: 40px;
    color: white;
    font-weight: 400;
    font-size: 13px;
}
.boost-list path{
    fill: white;
}
#user-energy{
    color: #000000;
    font-size: 32px;
    margin-top: 17px;
    font-weight: 400;
}
#count-energy{
    color: #000000;
    font-size: 32px;
    font-weight: 400;
    margin-top: 17px;
}
.energy{
    position: absolute;
    bottom: 100px;
    left: 140px;
}
.scorebare{
    position: absolute;
    bottom: 21vh;
    left: 50%;
    transform: translateX(-50%);
}
.task-cont{
    display: none;
}
.textinfo{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    font-weight: bold;
    margin-top: -17px;
    margin-left: 15px;
}
.reward{
    display: flex;
}
.reward svg{
    max-width: 28px;
    max-height: 28px;
    margin-left:-12px ;
   position: absolute;
   top: 230px;
}

.tg-icon{
    max-width: 50px;
}
.btn-join{
    position: fixed;
    right: 15px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}
.textinfo2{
    font-size: 21px;
    font-weight: 400;
    position: absolute;
    top: 190px;
}
.btn-join:active{
    transform: scale(0.9);
    box-shadow: 0 0 10px whitesmoke;
}
.reward .textinfo2{
    top: 230px;
    margin-left: 5px;
}
#go-to{
    width: 50px;
    height: 50px;
    margin-top: -3px;
}
.boost-cont{
    display: none;
    width: 100vw;
    height: 500px;
}

.boost-1{
    background-color: white;
    width: 90vw;
    height: 50px;
    border: 2px solid #000000;
    padding: 10px;
    margin-top: 190px;
    margin-left: 25px;
}
.boost-2{
    background-color: white;
    width: 90vw;
    height: 50px;
    border: 2px solid #000000;
    padding: 10px;
    margin-top: 10px;
    margin-left: 25px;
}

.lvl{
    color: grey;
    margin-left: 30px;
}
#battery{
    max-width: 50px;
}

.boost-image{
    width: 25px;
    height: 34px;
    margin-top: -5px;
}
.bg-open{
   
    position: absolute;
    font-size: 34px;
    margin-top: -53.3px;
    text-align: center;
    right: 8px;
}
.open{
    margin-top: -5.3px;
    width: 50px;
}
@keyframes show{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}
.dialog-boost{
    width: 100vw;
    height: 60vh;
    position: absolute;
    bottom: 0;
    background-color: var(--color-bg-dialog);
    display: none;
    z-index: 99;
    animation: show .7s;
}
.dialog-boost-energy{
    width: 100vw;
    height: 60vh;
    position: absolute;
    bottom: 0;
    background-color: var(--color-bg-dialog);
    display: none;
    z-index: 99;
    animation: show .7s;
}

.overlay-on{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
}
.active-join{
    position: fixed;
    right: 15px;
    margin-top: 5px;
}
.dialog-boost{
    text-align: center;
    justify-content: center;
}
.dialog-boost img{
    width: 74px;
    height: 100px;
}
.dialog-boost h1{
    margin-top: 5px;
    font-size: 32px;
    font-weight: 400;
}
.dialog-boost-energy{
    text-align: center;
    justify-content: center;
}
.dialog-boost-energy img{
    max-width: 150px;
    margin-top: 45px;
    margin-left: 50px;
}
.dialog-boost-energy h1{
    color: white;
    margin-top: 15px;
    font-size: 40px;
}
.btn-done{
    width: 90vw;
    position: fixed;
    bottom: 25px;
    height: 50px;
    padding: 5px;
    font-size: 24px;
    background-color: #E50000;
    color: white;
    border: 2px solid black;
    margin-left: 20px;
}

.dialog-boost #info-boost,#info-boost-energy, #getPoints{
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}
#inBoost{
    position: absolute;
    bottom: 80px;
    
}

#icoinboost{
    margin-top: -10px;
}
#inBoost span{
    font-size: 28px;
    font-weight: bold;
}

#inBoostEnergy{
    margin-top: 20px;
}

#icoinboost-energy{
    margin-top: -5px;
    margin-left: 120px;
}

.iconinboost{
    margin-top: -5px;
}

#inBoost img{
    width: 15px;
    height: 25px;
}

#inBoostEnergy span{
    font-size: 28px;
    font-weight: bold;
}
.textbal{
    position: absolute;
    text-align: center;
    color: #5A5A5A;
    font-weight: 400;
    font-size: 28px;
    width: 100%;
    left: 0;
    margin-top: -8px;
}
.user-balance{
    font-weight: 400;
    font-size: 48px;
    color: #000000;
    margin-top: 7px;
}
.cont-score-icon{
    display: flex;
    justify-content: center;
    top: 5px;
}
#ic{
    margin-top: 32px;
    margin-right: 5px;
    width: 25px;
    height: 35px;
}
#coin{
    width: 15px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 164px;
}
.boost-txt{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 14vh;
    left: 20px;
}
.boost-cont{
    height: fit-content;
}


.referals-cont h1{
    text-align: center;
}

.referals-count{
    margin-top: -25px;
    font-size: 50px;
    text-align: center;
}

.invite-friend{
    font-family: 'pixy';
    border: solid 2px black;
    background-color: #fff;
    width: clamp(135px, 1vw, 190px);
    height: 45px;
    font-size: clamp(19px, 1vw, 23px);
    font-weight: 500;
    margin-left: -10px;
}

.invite-bar{
    display: flex;
    background-color: #E2300B;
    color: white;
    padding: 5px;
    border: 2px solid black;
    width: 95vw;
    margin-left: -.5vw;
}

.invite-bar img{
    width: 15px;
    height: 25px;
    margin-top: 10px;
    margin-left: -3px;
}

.invite-bar h1{
    width: fit-content;
    font-size: clamp(24px, 1vw, 27px);
    margin-top: clamp(5px, 1vh, 10px);
    margin-left: -10px;
}

.no-friends-h1{
    text-align: center;
    font-size: 46px;
    margin-bottom: -10px;
}

.referals a{
    color: #E2300B;
    font-family: 'pixy';
    font-size: clamp(24px, 1vw, 32px);
    top: 20px;
}

.your-link{
    text-align: center;
}

.no-friends-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(100px, 3vh, 200px);
}

.have-friends-container{
    margin-top: 20px;
}

.have-friends-container h1{
    width: fit-content;
    color: #E2300B;
}

.have-friends-container img{
    margin-left: clamp(-50px, 3vw, -15px);
    margin-bottom: -8px;
    width: 10px;
    height: 20px;
}

.have-friends-container .nickname{
    color: black;
}

.have-friends-container hr{
    border: solid 1px black;
    opacity: 1;
    width: 90vw;
    margin-left: 10px;
    margin-top: 0px;
}

.container-text-boost{
    top: 80px;
    text-align: center;
}
.txt-1{
    font-size: 27px;
    font-weight: 500;
    height: 50.2px;
    width: 95vw;
    margin-top: 5px;
    border: 2px solid #000000;
    background-color: white;
}
.txt-2{
    font-size: 22px;
    font-weight: 400;
    height: 41.8px;
    width: 95vw;
    color: white;
    background-color: #E50000;
    border: 2px solid #000000;
}
#iconinboost{
    width: 9px;
    height: 18px;
    margin-top: -18px;
    margin-left: 15px;
}
.iconinboost{
    width: 9px;
    height: 18px;
    margin-left: 130px;
}
.boost-1 .lvl{
    position: absolute;
    top: 206px;
    left:105px;
    font-size: 20px;
    font-weight: 400;
    color: #5A5A5A;
}
.boost-1 .boostprice{
    position: absolute;
    top: 219px;
    left: 65px;
    color: #E50000;
}
.boostprice{

    color: #E50000;
}
.boost-2 .lvl{
    position: absolute;
    top: 266px;
    left:105px;
    font-size: 20px;
    font-weight: 400;
    color: #5A5A5A;
}

.boost-2 .boostprice{
    position: absolute;
    top: 280px;
    left: 65px;
    color: #E50000;
}
#score-task-page{
    margin-top: clamp(-40px, 1vh, -25px);
    margin-left: 7px;
}

.task-icon{
    font-family: 'pixy';
    border: black 3px solid;
    width: 50px;
    height: 50px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-page-score-icon{
    width: 25px;
    height: 35px;
}

.task-1{
    margin-top: 20px;
}

.task-info-div{
    border: 2px solid black;
    margin-bottom: 0;
    padding: 0;
    width: 95vw;
    margin-left: 2.5%;
    background-color: white;
}

.task-info-div h1{
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    margin-top: 5px;
}

.textinfo{
    color: black;
    font-size: clamp(23px, 1vw, 27px);
}

.reward{
    display: flex;
    margin-left: 12px;
}
.reward img{
    max-width: 20px;
    max-height: 20px;
    margin-left: -10px;
    margin-top: 25px;
}
.tg-icon{
    max-width: 50px;
}
.btn-join{
    position: fixed;
    right: 15px;
    margin-top: 3px;
    width: 50px;
    height: 50px;
}
.text-reward{
    margin-left: 10px;
}

.hr{
    border: solid 1px black;
    opacity: 1;
    width: 93vw;
    margin-top: -5px;
    margin-left: 13px;

}
.containr {
    position: absolute;
    width: 100px;
    height: 100px;
}

.icone {
    position: absolute;
    top: calc((100vh / 3));
    left: clamp(180px, 40vw, 200px) ;
    opacity: 0;
    transition: transform 1.5s, opacity 1s;
    z-index: -99;
}



.icone.explode {
    opacity: 1;
    animation: flyOut .7s ease-in-out forwards;
}

@keyframes flyOut {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y))) scale(0.5) rotate(720deg);
        opacity: 0;
    }
}
.line-border-1{
    width: 100vw;
    height: 16px;
    background-color: #E2300B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 0 black;
}

.line-border-2{
    width: 95vw;
    height: 8px;
    background-color: white;
}

.line-border-3{
    width: 90vw;
    height: 8px;
    background-color: white;
}
.line-border-4{
    width: 95vw;
    height: 8px;
    background-color: #E2300B;
    box-shadow: 0 -2px 0 black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
.line-border-5{
    width: 90vw;
    height: 8px;
    background-color: #E2300B;
    box-shadow: 0 -2px 0 black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.line-border-6{
    position: absolute;
    width: 89.3vw;
    height: 8px;
    background-color: #E2300B;
}
.energy-icon{
    margin-left: 0;
    margin-right: 0;
}

.energy-icon img{
    width: 74px;
    height: 100px;
    margin-left: 10px;
    margin-top: -5px;
}

.dialog-boost-energy h1{
    color: black;
}
.btn-done-energy{
    width: 90vw;
    position: fixed;
    bottom: 25px;
    height: 50px;
    padding: 5px;
    font-size: 24px;
    background-color: #E50000;
    color: white;
    border: 2px solid black;
    margin-left: 20px;
}
#pr-bt-1{
    margin-top: -14px;
}

#pr-bt-2{
    margin-top: -16px;
}



  @keyframes animToShow {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    20% {
      transform: translateY(-100px) scale(1.2);
      opacity: 1;
    }
    40% {
      transform: translateY(-100px) rotate(-5deg);
      opacity: 1;
    }
    60% {
      transform: translateY(-100px) rotate(5deg);
      opacity: 1;
    }
    80% {
      transform: translateY(-100px);
      opacity: 1;
    }
    100% {
      transform: translateY(100px) rotate(0deg) scale(0.8);
      opacity: 0;
    }
  }

.cont-error{
    width: 100px;
    height: 45px;
    background-color: #E2300B;
    color: white;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    left: calc(50vw - 50px);
    animation: animToShow 3s;
    opacity: 0;
    z-index: 99;
}
.cont-referals{
    width: 100%; 
    overflow-y: auto; 
    overflow-x: hidden; 
    box-sizing: border-box; 
    height: 350px;
    overflow-y: auto;
}

