:root{
    --color-bg-dialog: rgb(52, 49, 49);
}
@font-face {
    font-family: 'pixy';
    src: url('fonts/PIXY.TTF') format('truetype'),
         
}
*{
    font-family: 'pixy';    
}
body{
    background: linear-gradient(180deg, #FFBFBF 0%, #FFFFFF 100%);
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
}

.score{
    font-size: 50px;
    color: white;
    font-family: 'pixy';
    font-size: 48px;
    color: black;

}
.icon-score{
    width: 15px;
    height: 30px;
    margin-top: 25px;
    margin-right: 12px;
}
#icon{
    max-width: 280px;
    margin-top: calc((100vh / 2.5) - 250px);
    user-select: none;
}

@keyframes animIcon{
    0% {
        transform: scale(1.00);
    }
    20%{
        transform: scale(0.90);
    }
    100%{
        transform: scale(1.00);
    }
}

#icon.click-animation {
    transition: 1s ease;
    animation: animIcon 0.9s ease;
}
@keyframes add{
    0%{
        opacity: 0.6;
    }
    100%{
        transform: translateY(-300px);
        z-index: -99;
    }
}
.add{
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 45px;
    animation: add .8s;
    user-select: none;
}
.login-logo{
    max-width: 250px;
    display: flex;
    justify-content: center;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.name, .ico{
    color: grey;
}
.nav-row{
    position: fixed;
    bottom: 0px;
    width: calc(100vw + 12px);
    height: 60px;
    
    border-top: 2px solid rgb(255, 255, 255);
    background-color: #E2300B;
}

.list-boost{
    position: absolute;
    width: 28px;
    height: 28px;  
    top: 10px;
}
.invite{
    position: absolute;
    width: 28px;
    height: 28px;  
    top: 10px;
}

.task{
    position: absolute;
    width: 28px;
    height: 28px;  
    top: 10px;
}
.progress-bar{
    background: linear-gradient(90deg, #FFFFFF 0%, #E50000 100%);

}
.prb{
    background-color: white;
    border: 2px solid black;
    width: 90vw;
    left: 20px;
    position: fixed;
    border-radius: 0px;
    bottom: 9vh;
}

.onselect{
    border: 2px solid #000000;
    background-color: white;
    width: 25vw;
    height: 50px;
    transition: .3s;
}



.hide{
    display: none;
}
.icontoscore{
    margin-top: 10px;
    margin-right: 30px;
    max-width: 54px;
    max-height: 54px;
}
#bottle{
    width: 18px;
    height: 25px;
    position: absolute;
    left: -40px;
    top: 60px;
}
.home{
    position: absolute;
    width: 28px;
    height: 28px;  
    top: 10px;
}
.box-task{
    width: 25vw;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-left: 0;
}
.box-referals{
    width: 25vw;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-left: 0;
}
.box-boost{
    width: 25vw;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-left: 0;
}
.box-home{
    width: 25vw;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-left: 0;
}
.box-task p{
    position: absolute;
    top: 40px;
    color: white;
    font-weight: 400;
    font-size: 13px;
}
.box-home p{
    position: absolute;
    top: 40px;
    color: #E50000;
    font-weight: 400;
    font-size: 13px;
}
.home path{
    fill: #E50000;
}

.box-referals p{
    position: absolute;
    top: 40px;
    color: white;
    font-weight: 400;
    font-size: 13px;
}
.invite path{
    fill: white;
}
.box-boost p{
    position: absolute;
    top: 40px;
    color: white;
    font-weight: 400;
    font-size: 13px;
}
.boost-list path{
    fill: white;
}
#user-energy{
    margin-left: -40px;
    color: #000000;
    font-size: 32px;
    margin-top: 47px;
    font-weight: 400;
}
#count-energy{
    color: #000000;
    font-size: 32px;
    margin-top: 47px;
    font-weight: 400;
}
.energy{
    position: absolute;
    left: 3vw;
}
.scorebare{
    position: absolute;
    bottom: 21vh;
    left: 50%;
    transform: translateX(-50%);
}
.task-cont{
    display: none;
}
.textinfo{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    font-weight: bold;
    margin-top: -10px;
    margin-left: 15px;
}
.reward{
    display: flex;
}
.reward img{
    max-width: 28px;
    max-height: 28px;
    margin-right: 2px;
}
.tg-icon{
    max-width: 50px;
}
.btn-join{
    position: fixed;
    right: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(94, 94, 233);
    border-bottom: 5px solid rgb(6, 6, 113);
    box-shadow: 0 0 10px black;
    color: white;
    cursor: pointer;
    height: fit-content;
    transition: 0.5s;
    user-select: none;
}
.text-reward{
    margin-left: 10px;
}
.btn-join:active{
    transform: scale(0.9);
    box-shadow: 0 0 10px whitesmoke;
}
.boost-cont{
    display: none;
    width: 100vw;
    height: 500px;
}

.boost-1{
    background-color: white;
    width: 95vw;
    height: 50px;
    border: 2px solid #000000;
    padding: 10px;
    margin-top: 165px;
}
.boost-2{
    background-color: white;
    width: 95vw;
    height: 50px;
    border: 2px solid #000000;
    padding: 10px;
    margin-top: 5px;
}

.lvl{
    color: grey;
    margin-left: 10px;
    margin-top: 5px;
}
#battery{
    max-width: 50px;
}

.boost-image{
    width: 25px;
    height: 34px;
    transform: rotate(-5deg);
    margin-top: -5px;
}
.bg-open{
    width: 50px;
    height: 50px;
    background-color: #E50000;
    position: absolute;
    font-size: 34px;
    right: 10px;
    margin-top: -55px;
    text-align: center;
    border: 2px solid #000000;
}
.open{
    margin-top: -10px;
}
@keyframes show{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}
.dialog-boost{
    width: 100vw;
    height: 70vh;
    position: absolute;
    bottom: 0;
    background-color: var(--color-bg-dialog);
    border-top: 2px solid yellow; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-right: none; 
    border-left: none; 
    border-bottom: none;
    box-shadow: -5px 0px 10px yellow;
    display: none;
    z-index: 99;
    animation: show .7s;
}
.dialog-boost-energy{
    width: 100vw;
    height: 70vh;
    position: absolute;
    bottom: 0;
    background-color: var(--color-bg-dialog);
    border-top: 2px solid yellow; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-right: none; 
    border-left: none; 
    border-bottom: none;
    box-shadow: -5px 0px 10px yellow;
    display: none;
    z-index: 99;
    animation: show .7s;
}

.overlay-on{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
}
.active-join{
    position: fixed;
    right: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(74, 247, 0);
    border-bottom: 5px solid rgb(8, 92, 10);
    box-shadow: 0 0 10px black;
    color: white;
    height: fit-content;
    user-select: none;
}
.close-dialog{
    width: fit-content;
    height: 35px;
    padding: 5px;
    background-color: rgb(61, 60, 60);
    color: white;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.dialog-boost{
    text-align: center;
    justify-content: center;
}
.dialog-boost img{
    max-width: 120px;
    transform: rotate(-5deg);
    margin-top: 45px;
}
.dialog-boost h1{
    color: white;
    margin-top: 15px;
    font-size: 40px;
}
.dialog-boost-energy{
    text-align: center;
    justify-content: center;
}
.dialog-boost-energy img{
    max-width: 150px;
    margin-top: 45px;
    margin-left: 50px;
}
.dialog-boost-energy h1{
    color: white;
    margin-top: 15px;
    font-size: 40px;
}
.btn-done{
    width: 90vw;
    position: fixed;
    bottom: 25px;
    height: fit-content;
    padding: 10px;
    font-size: 30px;
    background-color: #00b6fe;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
}
.btn-done-energy{
    width: 90vw;
    position: fixed;
    bottom: 25px;
    height: fit-content;
    padding: 10px;
    font-size: 30px;
    background-color: #00b6fe;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
}
.dialog-boost #info-boost,#info-boost-energy, #getPoints{
    color: rgb(155, 155, 155);
    font-size: 18px;
}
#inBoost{
    margin-top: 20px;
}

#icoinboost{
    margin-top: -5px;
}
#inBoost span{
    font-size: 28px;
    font-weight: bold;
}

#inBoostEnergy{
    margin-top: 20px;
}

#icoinboost-energy{
    margin-top: -5px;
}
#inBoostEnergy span{
    font-size: 28px;
    font-weight: bold;
}
.textbal{
    position: absolute;
    font-size: 20px;
    left: 40vw;
    color: #5A5A5A;
    font-weight: 400;
    font-size: 20px;
}
.user-balance{
    font-weight: 400;
    font-size: 48px;
    color: #000000;
}
.cont-score-icon{
    display: flex;
    justify-content: center;
    top: 5px;
}
#ic{
    margin-top: 25px;
    margin-right: 5px;
}
#coin{
    width: 15px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 164px;
}
.boost-txt{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 14vh;
    left: 20px;
}
.boost-cont{
    height: fit-content;
}
.login{
    margin-top: 100px;
}
.login h1{
    color: white;
    font-size: 30px;
}
.user-login input{
    background-color: transparent;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    width: 90vw;
    padding-bottom: 10px;
    font-size: 25px;
    margin-top: 30px;
    outline: none;
}
.user-password input{
    background-color: black;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    width: 90vw;
    padding-bottom: 10px;
    font-size: 25px;
    margin-top: 30px;
    outline: none;
}
.user-login input::placeholder{
    color: white;
}
.user-password input::placeholder{
    color: white;
}
.btn-login{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    transition: .6s;
}
.btn-login:hover{
    background-color: white;
    color: black;
}


.referals-cont h1{
    text-align: center;
}

.referals-count{
    margin-top: -25px;
    font-size: 50px;
    text-align: center;
}

.invite-friend{
    font-family: 'pixy';
    border: solid 2px black;
    background-color: #fff;
    width: clamp(135px, 1vw, 190px);
    height: 45px;
    font-size: clamp(19px, 1vw, 23px);
    font-weight: 500;
    margin-left: -10px;
}

.invite-bar{
    display: flex;
    background-color: #E2300B;
    color: white;
    padding: 5px;
    border: 3px solid black;
    width: 95vw;
    margin-left: -.5vw;
}

.invite-bar svg{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: -10px;
}

.invite-bar h1{
    width: fit-content;
    font-size: clamp(24px, 1vw, 27px);
    margin-top: clamp(5px, 1vh, 10px);
    margin-left: -10px;
}

.no-friends-h1{
    text-align: center;
    font-size: 46px;
    margin-bottom: -10px;
}

.referals a{
    color: #E2300B;
    font-family: 'pixy';
    font-size: clamp(24px, 1vw, 32px);
    top: 20px;
}

.your-link{
    text-align: center;
}

.no-friends-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(100px, 3vh, 200px);
}

.have-friends-container{
    margin-top: 20px;
}

.have-friends-container h1{
    width: fit-content;
    color: #E2300B;
}

.have-friends-container svg{
    margin-left: clamp(-45px, 3vw, -20px);
    margin-bottom: -8px;
    width: 20px;
    height: 20px;
}

.have-friends-container .nickname{
    color: black;
}

.have-friends-container hr{
    border: solid 1px black;
    opacity: 1;
    width: 90vw;
    margin-top: -5px;
    margin-left: 12px;
}

.container-text-boost{
    top: 70px;
    text-align: center;
}
.txt-1{
    font-size: 20px;
    font-weight: 400;
    height: 32px;
    width: 95vw;
    border: 2px solid #000000;
    background-color: white;
}
.txt-2{
    font-size: 16px;
    font-weight: 400;
    height: 32px;
    width: 95vw;
    color: white;
    background-color: #E50000;
    border: 2px solid #000000;
}
#iconinboost{
    width: 7px;
    height: 14px;
    margin-top: -23px;
    margin-left: 15px;
}
.boost-1 .lvl{
    position: absolute;
    top: 178px;
    left:105px;
    font-size: 20px;
    font-weight: 400;
    color: #5A5A5A;
}
.boost-1 .boostprice{
    position: absolute;
    top: 193px;
    left: 60px;
    color: #E50000;
}
.boost-2 .lvl{
    position: absolute;
    top: 232px;
    left:105px;
    font-size: 20px;
    font-weight: 400;
    color: #5A5A5A;
}
.boost-2 .boostprice{
    position: absolute;
    top: 248px;
    left: 60px;
    color: #E50000;
}